#hamnav {
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

#hamitems {
  background: black;
  margin-top: 1mm;
}

#hamitems a:hover { background: #af0d0d; }

#hamnav label, #hamburger { display: none; }

#hamitems a {
  padding: 3mm;
  color: white;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #333;
  font-size:5mm;
}

#hamnav label { 
  display: inline-block; 
  color: black;
  font-style: normal;
  font-size: 6mm;
  padding: 0;
  padding-left:5mm;
  padding-right:5mm;
  line-height:18mm;
}

#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }