html, body, page-wrapper {
  height:100%;
  margin:0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width:100%;
  border:none;
  margin-top:2mm;
  border-spacing:0;
}

thead {
  position:sticky;
  top:0;
}

table td {
  font-size:4mm;
}

table th {
  font-size:4mm;
  background-color:grey;
}

table td input {
 font-size:4mm;
 margin:0;
 width:auto;
}

table td:first-child {
  width:100%;
}

table th {
  text-align:left;
}

table tr:nth-child(even) td {
  text-align:right;
  padding-top:2mm;
  padding-bottom:2mm;
  padding-right:1mm;
}

table tr:nth-child(odd) td {
  padding-top:2mm;
}

table tr:nth-child(4n), tr:nth-child(4n-1) {
    background-color:lightgrey;
}

table tr:nth-child(4n-2), tr:nth-child(4n-3) {
    
}

.registration-link {
    font-size: 4.5mm;
    margin-top: 7mm;
    display: block;
}

.main-header span {
  font-size: 6mm;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

@media screen and (orientation: landscape) {
  .page-wrapper {
    width: 60vw;
  }
}

.main-header {
  width:100%;
  line-height: 18mm;
  background-color:lightblue;
  text-align:center;
}

.page-wrapper {
  margin:auto;
  padding:10px;
  height:100%;
}

.page-content {
  margin-top:4mm;
  height:calc(100% - 4mm - 18mm);
  overflow-y:auto;
}

.message-holder {
  color: green;
  font-size: 5mm;
  height: 12mm;
  font-weight: bold;
  margin-top:2mm;
  text-align:center;
}

.error-message {
  color: red;
}

.green {
  color: green;
}

label, .label {
  display: block;
  font-size: 4mm;
  font-weight: bold;
  margin-top:4mm;
}

label.large, .label.large {
  font-size:8mm;
  margin-top:4mm;
  font-weight: normal;
}

.inline {
  display: inline;
}

.value {
  display: block;
  font-size: 12mm;
  margin-top:1mm;
}

.value.large {
  font-size:15mm;
}

.center {
  text-align:center;
}

input {
  width:100%;
  font-size: 6mm;
  margin-top:2mm;
}

input[type=checkbox] {
   width:auto;
}

.button-large {
  background: lightgray;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding-top:4mm;
  padding-bottom:4mm;
  font-size:5mm;
  margin-top:4mm;
}

.button-large:hover {
    background: lightslategray;
}